
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #FFF;
    --sidebar-color: #FFF;
    --primary-color: #9370db;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --light-text-color: #white;
    --pink: #FF33CC;
    --light-pink: #FF66CC;
    --light-blue: #33CCFF;
    --yellow: #FFC000;
    --green: #92D050;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
    --light-blue2: #c1e3fe;
    --light-pink2: #f5c0e0;
}
.container {
    width: 100%;
    max-width:100%;
    padding:0;
    max-height:110vh;
}
.pb-3{
    padding-bottom:0!important;
}
.page {
    width:100%;
    position:relative;
    height:110vh;
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    justify-content:space-between;
}
.main{
    padding:0;
}
h1{
    margin-bottom:2%;
}
.form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%;
}
.sign-in-form {
    min-height: 100vh;
    height: 80%;
    margin: 2%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:4%;
    padding-bottom:3%;
}
.input {
    padding: 2%;
    border-radius: 15px;
    width: 80%;
    margin-bottom:4%;
}

.shape-container {
    display: flex;
    width: 100%;
    height: 120vh;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: center;
    background-image: url('/Resources/rectangle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h2{
    text-align:left;
}
.inputs{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.submit-btn {
    margin-top: 2%;
    width: 30%;
    padding: 1.5%;
    border-radius: 15px;
    transition: all 0.3s;
    background-color: var(--primary-color);
    border: none;
}

    .submit-btn:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

.image {
    width: 45%;
}
.register{
    margin-top:5%;
}
.register a{
    text-decoration:none;
    text-align:center;
    color:var(--primary-color);
}

.register .signin:hover{
    transition:var(--tran-04);
    color:black;
}
.radios{
    display:flex;
    width:80%;
    align-content:space-between;
    justify-content:space-between;
    margin-bottom:4%;
}
.placeholder{
    width:80%;
    color:var(--text-color);
    background-color:transparent;

}
.labels{
    justify-content:space-between;
    align-content:center;
}
.help-container {
    display: flex;
    justify-content: center;
    width:100%;

}

.modal-body h5 {
    color: var(--primary-color);
    text-align: justify;
}

.help-container .help-button {
    background-color: var(--primary-color);
    border: none;
    font-size: 25px;
    color: white;
    padding: 0.5%;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colored{
    color:var(--primary-color);
    font-weight:bold;
}


