@model Education_Software.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/loginStyle.css" />
}
    <div class="page">
        <div class="sign-in-form">
            <form asp-controller="Home" asp-action="Login" method="post" class="form">
                <h1>Sign In</h1>
                <div class="inputs">
                    <input type="text" placeholder="Username" class="input" asp-for="username" />
                </div>
                <div class="inputs">
                    <input type="password" placeholder="Password" class="input" asp-for="password" />
                </div>
                <div class="inputs">
                    <input type="submit" class="submit-btn" value="Sign In" class="input" />

                </div>
            </form>
            <div class="register">

            <h4>Don't have an account yet?</h4>
            <a class="signin" asp-controller="Home" asp-action="Registration">
                
                    <h5>Create an account</h5>
                
            </a>
            
        </div>
        </div>
        <div class="shape-container">
        <img src="@Url.Content("~/Resources/login-image.png")" class="image" />

        <h2 class="text">We help you find your <i>dream career</i></h2>
        </div>
    </div>

@if (Model != null && !Model.isLoginConfirmed)
{
    <script type="text/javascript" src="~/js/LoginScript.js">
    </script>
}
